:root {
  --background-image: #fee9c9;
  --background-gradient: linear-gradient(to left top, #fee9c9, #98bfd6);
  --background-gradient-hover: linear-gradient(to left top, #98bfd6, #fee9c9);
  --background-nav: #98bfd6;
  --text-color: #5d5c72;
  --color-primary: #f6f3f2;
  --color-secondary: #f39e9e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --border-primary: 1px solid var(--color-primary);
  --border-secondary: 1px solid var(--color-secondary);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background: var(--background-image);
  color: var(--text-color);
}
@media (max-width: 1225px) {
  .container-contact {
    margin: 40px !important;
  }
}
@media (max-width: 1030px) {
  .container-contact {
    padding: 10px !important;
    margin: 35px !important;
    font-size: 20px !important;
  }
}
@media (max-width: 920px) {
  .container-contact {
    padding: 5px !important;
    margin: 20px !important;
  }
}
@media (max-width: 900px) {
  .img-yoga,
  .img-weather,
  .img-strawberries {
    display: none;
  }
  .yoga-info,
  .weather-info,
  .strawberries-info {
    width: 90%;
    margin: 20px;
  }
  .yoga-info p,
  .weather-info p,
  .strawberries-info p {
    text-align: justify;
  }

  footer h4 {
    font-size: 20px !important;
  }
  h1 {
    font-size: 50px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  .name {
    font-size: 32px !important;
  }
  h3 {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .hero p {
    font-size: 26px !important;
  }
  p {
    font-size: 10px !important;
  }
}
@media (max-width: 700px) {
  .container-contact {
    margin: 0px !important;
    margin-bottom: 20px !important;
  }
  h1 {
    font-size: 40px !important;
  }
  p {
    font-size: 12px !important;
  }
}
nav {
  padding: 30px 20px;
  margin: 0px;
  background: var(--background-nav);
}
nav ul {
  padding: 0px;
  margin: 0px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  opacity: 0.7;
  color: var(--text-color);
  font-weight: bold;
}

.hero {
  background: var(--background-gradient);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 34px;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 32px;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
}

.contact-link,
.projects-link,
.yoga-link,
.weather-link,
.strawberries-link {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
.contact-link,
.projects-link {
  border: var(--border-primary);
  color: var(--color-primary);
  background: var(--color-secondary);
}

.yoga-link,
.weather-link,
.strawberries-link {
  border: var(--border-secondary);
  color: var(--color-secondary);
  background: var(--color-primary);
}

.contact-link:hover,
.projects-link:hover {
  border: var(--border-secondary);
  color: var(--color-secondary);
  background: var(--color-primary);
}

.yoga-link:hover,
.weather-link:hover,
.strawberries-link:hover {
  border: var(--border-primary);
  color: var(--color-primary);
  background: var(--color-secondary);
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.img-shecodes,
.img-logo {
  width: 140px;
}
.logo {
  max-height: 50px;
}
.project-discription {
  padding: 10px;
}

.container-yoga,
.container-weather,
.container-strawberries,
.container-dictionary,
.container-translator,
.container-contact,
.container-about {
  background: var(--background-gradient);
  border: 4px solid var(--color-primary);
}

.content-container {
  padding: 50px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.content {
  margin: 100px 20px;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.project-image {
  max-height: 280px;
}

.container-contact {
  margin-bottom: 40px;
  padding: 40px;
}

.contact-icon {
  font-weight: normal !important;
  color: var(--color-secondary);
  font-size: 40px;
}

.links-contact {
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
}

.links-contact:hover {
  text-decoration: none;
  color: var(--color-secondary);
  opacity: 0.7;
}
footer .email-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 25px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--text-color);
}

footer .social-links a {
  margin: 10px 20px;
  color: var(--text-color);
  background: var(--background-gradient);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  background: var(--background-gradient-hover);
}
footer .contact-box {
  background: var(--background-gradient);
  border: 4px solid var(--color-primary);
  padding: 40px;
}
footer h4 {
  font-size: 48px;
}
footer p {
  font-size: 20px;
  padding-top: 10px;
}
footer {
  margin: 40px 0px;
}
