:root {
  --background-image: #fee9c9;
  --background-gradient: linear-gradient(to left top, #fee9c9, #98bfd6);
  --text-color: #5d5c72;
  --color-primary: #f6f3f2;
  --color-secondary: #f39e9e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --border-primary: 1px solid var(--color-primary);
  --border-secondary: 1px solid var(--color-secondary);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background: var(--background-image);
  color: var(--text-color);
}

@media (max-width: 900px) {
  .img-yoga,
  .img-weather,
  .img-strawberries {
    display: none;
  }
  .yoga-info,
  .weather-info,
  .strawberries-info {
    width: 90%;
    margin: 20px;
  }
  .yoga-info p,
  .weather-info p,
  .strawberries-info p {
    text-align: justify;
  }
  h1 {
    font-size: 50px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  .name {
    font-size: 32px !important;
  }
  h3 {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .hero p {
    font-size: 26px !important;
  }
}

.hero {
  background: var(--background-gradient);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 34px;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 32px;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
}

.contact-link,
.projects-link,
.yoga-link,
.weather-link,
.strawberries-link {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
.contact-link,
.projects-link {
  border: var(--border-primary);
  color: var(--color-primary);
  background: var(--color-secondary);
}

.yoga-link,
.weather-link,
.strawberries-link {
  border: var(--border-secondary);
  color: var(--color-secondary);
  background: var(--color-primary);
}

.contact-link:hover,
.projects-link:hover {
  border: var(--border-secondary);
  color: var(--color-secondary);
  background: var(--color-primary);
}

.yoga-link:hover,
.weather-link:hover,
.strawberries-link:hover {
  border: var(--border-primary);
  color: var(--color-primary);
  background: var(--color-secondary);
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.img-shecodes {
  width: 140px;
}

.project-discription {
  padding: 10px;
}

.container-yoga,
.container-weather,
.container-strawberries {
  background: var(--background-gradient);
  border: 4px solid var(--color-primary);
}

.about-section {
  padding: 0;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.about-section-contant {
  margin: 30px 20px;
}
